*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    background-color: skyblue;
}

.flex-header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.flex-header .navigation{
    background-color: goldenrod;
    border: 1px dashed black;
    width: calc(100% / 6);
    padding: 10px;
}

.flex-header #menu{
    width: calc((100% / 6) * 4);
    text-align: center;
}

.flex-header #login{
    text-align: right;
}

.jumbo{
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.flex-jumbo{
    background-color: fuchsia;
    width: 50%;
    height: 80%;
    border: 1px dashed black;
}

.white{
    background-color: white;
}

.grey{
    background-color: grey;
}

.flex-sec-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.img-box{
    background-color: royalblue;
    width: 60%;
    height: 80%;
    border: 1px dashed black;
}

.text-box{
    background-color: lightpink;
    width: 40%;
    height: 80%;
    border: 1px dashed black;
}

.flex-sec-big{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.big-box{
    background-color: green;
    width: 100%;
    height: 90%;
    border: 1px dashed black;
}

footer{
    background-color: black;
}

.flex-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.col-big{
    background-color: indianred;
    width: calc((100% / 14) * 4);
    height: 90%;
    border: 1px dashed black;
}

.col-small{
    background-color: lightseagreen;
    width: calc((100% / 14) * 2.5);
    height: 90%;
    border: 1px dashed white;
}

.flex-end{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
}

.flex-register-box{
    background-color: aquamarine;
    width: 100%;
    height: 80%;
}

.flex-register-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-register-box .item{
    background-color: lightpink;
    border: 1px dashed black;
    padding: 5px;
}